@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

/* Section Nav and Logo  */

.header-nav {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding-left: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;

}

/* for img sizing later */
.box-img > img {
    height: 100%;
    width: 300px;
}